<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmoryGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EmoryGame.Properties.Settings>
            <setting name="Könyvtár" serializeAs="String">
                <value>képek</value>
            </setting>
            <setting name="Méret" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="háttérkép" serializeAs="String">
                <value>Kepek/bg@2x.png</value>
            </setting>
        </EmoryGame.Properties.Settings>
    </userSettings>
</configuration>